.fwrap{
    display: block;
    // width: min( 1200px, 100vw );
    // width : 100vw;
    background-color: antiquewhite;
    // background: url('../../../public/배경사진.JPG') ;
    // height: 100vh;
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
}
.wraping{
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap:50px
}
.icons{

    h1{
        font-size: 2em;
        text-transform: uppercase;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        width: 600px;
        margin-bottom: 50px;
        gap:20px
    }
 li{
    flex-wrap: wrap;
    margin-bottom: 2px;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 70px;
    }
 }
}
.alink{
    text-decoration: none;
    color: inherit;
}
// 문제 페이지 디자인
.wrap1{
    margin-left: 20px;
    margin-bottom: 50px;
    h2{
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    .correct{
    border: 1px solid black;
    width: 100px;
    // height: 28px;
    &[open]{
        width: 80%;
    }
    padding-left: 5px;
    display: flex;
    border-radius: 10px;
    background: yellow;
    justify-content: center;
    align-items: center;
    font-size: 1em;  
    summary{
        width: 100px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }
    .select1{
        margin-bottom: 10px;
        margin-top: 5px;
        gap: 15px;
        p{
            display: flex;
            gap: 5px;
            height: 20px;
            align-items: center;

            
        }
        input{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
}


.fullwrap{
    width:100%;

}
.btn{
    display: flex;
    align-items: center;
    gap:20px;
    button {
        width: 60px;
        height: 30px;
        background: rgb(218, 243, 195);
        border-radius: 10px;
        font-size: 1em;
    }
}
.radiobtn{
    display: flex;
    gap :15px;
   
    margin-bottom: 25px;
    .divide{
        display: block;
    }
}
