.fwrap{
    display: block;
    width: min( 1200px, 100vw );
    height: 100vh;
    
}
.wraping{
    display: flex;

    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
 li{

    margin-bottom: 2px;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 100px;
    }
 }
}
.alink{
    text-decoration: none;
    color: inherit;
}
// 문제 페이지 디자인
.wrap1{
    margin-left: 20px;
    h2{
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .correct{
        margin-top: 10px;
        
    }
    .select1{
        margin-top: 8px;
        display: flex;
        gap: 15px;
        p{
            display: flex;
            gap: 5px;
            height: 20px;
            align-items: center;
            input{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p{
                text-align: center;
            }
        }
    }

}
.fullwrap{
    width:100%;

}