.flexwrap{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    gap:100px;
    h1,h2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: min(180px, 30%);
        height: 35px;
        border: 1px solid black;
    }

}
//side
.gap{
    width: 80px;    
}
.fullwitdh{
    width: 80px;
    height: calc(100vh - 65px);
    border: 1px solid black;
    position: fixed;
}