ul,li { 
    list-style: none;
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:400}
  blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {margin:0;padding:0}
  button, input, select {margin:0}
  [type=checkbox], [type=radio] {box-sizing:border-box;padding:0}
  [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {height:auto}
  [type=search] {-webkit-appearance:textfield;outline-offset:-2px}
  [type=search]::-webkit-search-decoration {-webkit-appearance:none}
  details {display:block}
  summary {display:list-item}
  [hidden], template {display:none}
  [type=button], [type=reset], [type=submit], button {-webkit-appearance:button}
  [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {border-style:none;padding:0}
  [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {outline:1px dotted ButtonText}
  